<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Word of the day</title>
        <link rel="stylesheet" href="./css/simple.css" />
        <link rel="icon" href="./book.svg" />
        <%- include ('partials/header.ejs') %>
    </head>

    <body>
        <h1>Word of the day</h1>

        <ol reversed>
            <% names.forEach(({name, title})=> {%>
            <li><a href="./words/<%= name %>"> <%= title %> </a></li>
            <% }) %>
        </ol>
        <%- include ('partials/footer.ejs') %>
    </body>
</html>
